@mixin small-screen {
    @media screen and (max-width: 599px) {
        @content
    }
};
@mixin medium-screen {
    @media screen and (min-width: 600px) and (max-width: 899px)  {
        @content
    }
};
@mixin large-screen {
    @media screen and (min-width: 900px) {
        @content
    }
};

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @include medium-screen {
        flex-direction: row;
    }
    @include large-screen {
        flex-direction: row;
    }
}
.box {
    height: 200px;
    background-color: #ff7f50;
    display: flex;
    &:nth-child(2) {
        background-color: #006400;
    }
    &:nth-child(3) {
        background-color: #0ff;
        @include medium-screen {
            flex: 1;
    }
    }
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 8px;
        background-color: #faebd7;
        border-radius: 4px;
        margin: auto;
    }
    @include medium-screen {
        width: 50%;
    }
    @include large-screen {
        flex: 1;
    }
}