* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
.articles-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    width: 300px;
    flex-grow: 1;
}
