* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    text-align: center;
}
.articles-list {
    display: flex;
    flex-wrap: wrap;
}
.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 300px;
    flex-grow: 1;
}
.article > h2, .article > p {
    margin-top: 16px;
}
