header {
    text-align: center;
}
.articles-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.article {
    margin: 8px;
    padding: 16px;
    background-color: bisque;
    flex-basis: 272px;
    flex-grow: 1;
}
